<!DOCTYPE html>
<html>
<head>
  <title>Image Caption Generator</title>
  <style>
    body {
      background-color: lightblue;
    }
    
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    
    img {
      max-width: 500px;
      max-height: 500px;
    }
  </style>
  <script>
    function previewImage(event) {
      var reader = new FileReader();
      reader.onload = function() {
        var output = document.getElementById('image-preview');
        output.src = reader.result;
      }
      reader.readAsDataURL(event.target.files[0]);
    }
  </script>
</head>
<body>
  <div class="container">
    <h1>Image Caption Generator</h1>
    <form action="/generate_caption" method="POST" enctype="multipart/form-data">
      <input type="file" name="image" accept="image/*">
      <br>
      <br>
      <input type="submit" value="Generate Caption">
    </form>
    {% if your_result %}
    <img src="{{ your_result['image'] }}">
    <h1>CAPTION: <i>{{ your_result['caption'] }}</i></h1>
    {% endif %}
  </div>
  
  <script>
    var form = document.querySelector('form');
    form.addEventListener('submit', function(event) {
      event.preventDefault();
      var thankYouDiv = document.getElementById('thank-you');
      thankYouDiv.style.display = 'block';
      form.reset();
    });
  </script>
</body>
</html>

